@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #c6d2d5;
    height: 100%;
}

body {
    background: #ecf0f1;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 2rem auto 5rem;
    max-width: 920px;
    padding: 1rem 2rem;
}

.date {
    color: #7f8c8d;
}

header, h1, h2, h3, ol, p, table, th, tr, td, ul {
    font-family: 'Roboto Slab', Georgia, serif;
}

ol, p, table, th, tr, td, ul {
    font-weight: 300;
    line-height: 1.875rem;
}

h2 {
    margin: 2rem 0;
}

h3 {
    margin: 1.5rem 0;
}

div.sourceCode {
    background: #bdc3c7;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.header > th {
    box-sizing: border-box;
    text-align: left;
    padding: 0 2rem 0.5rem 0;
}

